img {
    max-height: 25%;
    width: 40%;
    margin: 1em;
}

.example {
    text-decoration: solid;
}

ul, ol{
    text-align: left;
    padding-left: 40rem;
    padding-top: 2rem;
    padding-right: 0%;
}