body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(../images/background/footer_lodyas.png);
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-family: 'Rubik', sans-serif;
}

.header {
    font-family: 'Roboto', sans-serif;
}

#mainheader {
    font-size: 200px;
}

p {
    font-size: 16px;
    margin: 50px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: grey;
    color: whitesmoke;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: black;
    box-shadow: 3px 3px black;
}
/* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}

.footer {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    height: 20px;
    background-color: grey;
    bottom: 0px;
    left: 75%;
    right: 10%;
    margin-bottom: 0px;
    text-align: center;
}